/* Global Styles */
html, body {
	height: 100%;
}
body {
	scroll-behavior: smooth;
	width: 100%;
	margin: 0;
}
.col {
	float: left;
}
.col.s10-10 {
	width: 100%;
}
.col.s9-10 {
	width: 90%;
}
.col.s8-10 {
	width: 80%;
}
.col.s7-10 {
	width: 70%;
}
.col.s6-10 {
	width: 60%;
}
.col.s5-10 {
	width: 50%;
}
.col.s4-10 {
	width: 40%;
}
.col.s3-10 {
	width: 30%;
}
.col.s2-10 {
	width: 20%;
}
.col.s1-10 {
	width: 10%;
}
/* Twelveths */
.col.s12-12 {
	width: 100%;
}
.col.s11-12 {
	width: 91.66%;
}
.col.s10-12 {
	width: 83.33%;
}
.col.s9-10 {
	width: 75%;
}
.col.s8-10 {
	width: 66.66%;
}
.col.s7-10 {
	width: 58.33%;
}
.col.s6-10 {
	width: 50%;
}
.col.s5-10 {
	width: 41.66%;
}
.col.s4-10 {
	width: 33.33%;
}
.col.s3-10 {
	width: 25%;
}
.col.s2-10 {
	width: 16.66%;
}
.col.s1-10 {
	width: 8.33%;
}