/* Site */
body {
	background-color: #eff0f1;
}

/* Buttons */
.labels-left {
	text-align: -webkit-right;
	text-align: right;
	padding: 12px 0;
	font-size: 24px;
	line-height: 24px;
	font-family: "Roboto";
}
#buttons > div.row > div.col > .label-top-buttons {
	text-align: -webkit-center;
	text-align: center;
	padding: 12px 0;
	font-size: 24px;
	line-height: 24px;
	font-family: "Roboto";
}
#buttons > div.row > div.col, #icon-buttons > div.row > div.col {
	text-align: -webkit-center;
	text-align: center;
	padding: 12px 0;
}
@media (max-width: 650px) {
	.col.s10-10 {
		min-width: 100%;
	}
	.labels-left {
		text-align: -webkit-center;
		text-align: center;
		padding: 12px 0;
		font-size: 24px;
		line-height: 24px;
	}
	.unity-ambiance-button:after {
		content: ": Ready";
	}
	.unity-ambiance-button.focus:after {
		content: ": Focus";
	}
	.unity-ambiance-button.active:after {
		content: ": Active";
	}
	.unity-ambiance-button.disabled:after {
		content: ": Disabled";
	}
	#labels-top-buttons {
		display: none;
	}
}
.unity-ambiance-button-code {
	display: inline-block;
	z-index: 10;
	transition: all .3s ease-out;
}
.unity-ambiance-button-code.code {
	border-radius: 4px;
	padding: 6px;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}
.unity-ambiance-button-code.code:focus, .unity-ambiance-button-code.code:active, .unity-ambiance-button-code.code:hover {
	-webkit-box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}